body{
background-image: url(../img/clasificados\ qatar.jpg);
background-size: cover ;
background-attachment: fixed;}

.titulo{
    color: black;
    text-align: center;
    font-size: x-large;
    text-decoration-line: underline;
}
h2{
    color: rgb(78, 49, 49);
    text-align: start;
    font-size: x-large;
    text-decoration-line: underline;
}
.primeros{
    text-align:center;
    font-size: large;
    display: flex;
    line-height: 30px;
    background-color: rgba(240, 248, 255, 0.486);
}
.grupo{
    margin-left: 25px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    color: black;

}
.copa{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 30px;
    margin-top: 50px;
    
}
.fases{
    padding: 0%;
    align-self: center;
}

.bt{
    border-radius: 3px;
    border: 2px solid black;
    margin:3px;
    color: wheat;
    background-color: black ;

}
.inp{
    margin-left: 50%;
}
.opc1{
    display: flex;
    flex-direction: row;
}
.btn2{
    margin-left: 30%;
    margin-top: 15px;
}
.copa1{
    margin-left: 10%;
}
.cajabot{
align-items: center;
justify-content: center;
margin-left: 25%;
margin-top: 20px;
}
.hcaja{
    margin-left: 80px;
    color: black;
    font-size: x-large;
}

.formulario{
    margin-left: 15%;
    margin: 30px;
}
.formu{
    font-size: large;
}

.btf{
    border-radius: 5px;
    border: 2px solid black;
    margin:3px;
    color: wheat;
    background-color: black ;
    font-size: medium;
}
.btf2{
    border-radius: 5px;
    border: 2px solid black;
    margin:3px;
    color: wheat;
    background-color: black ;
    font-size: medium;
    margin-left: 30px;
    margin-top: -10px;
}