body{
background-image: url(../img/clasificados\ qatar.jpg);
background-size: cover ;
background-attachment: fixed;}

.titulo{
    color: black;
    text-align: center;
    font-size: x-large;
    text-decoration-line: underline;
}
h2{
    color: rgb(78, 49, 49);
    text-align: start;
    font-size: x-large;
    text-decoration-line: underline;
}
.primeros{
    text-align:center;
    font-size: large;
    display: flex;
    line-height: 30px;
}
.grupo{
    margin-left: 25px;
    margin-top: 70px;

}
.copa{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.fases{
    margin-top: 10px;
    padding: 0%;
    align-self: center;
    
    
}

.bt{
    border-radius: 3px;
    border: 2px solid black;
    margin:3px;
    color: wheat;
    background-color: black ;

}
.inp{
    margin-left: 50%;
}
.opc1{
    display: flex;
    flex-direction: row;
}
.btn2{
    margin-left: 30%;
    margin-top: 15px;
}
.copa1{
    margin-left: 10%;
}
.cajabot{
align-items: center;
justify-content: center;
}